{% extends 'base.html.twig' %}

{% block title %}Hello ToDoDouController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="container bg-danger text-white">
    <h1>Hello {{ controller_name }}! ✅</h1>

    <table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col"> tâche </th>
      <th scope="col"> état </th>
           <th scope="col"></th>
     
    </tr>
  </thead>
  <tbody>
  {% for todo in todolist %}
    <tr>
      <th scope="row">{{ todo.id }}</th>
      <td>{{ todo.task }}</td>
     
      <td><input onchange="window.location.href='{{ path("app.todo.patch.completed", {'id': todo.id}) }}'" type="checkbox" {{ todo.completed == false ? "" : "checked"}}>
  
      </td>

      <td><a href="{{path('app.todo.detail', {'id' : todo.id})}}" class="btn btn-info">detail</td>
      <td><a href="{{path('app.todo.delete', {'id' : todo.id})}}" class="btn btn-danger"> X </td>
      
    </tr>
    {% endfor %}
  </tbody>
</table>

</div>


<script></script>
{% endblock %}
